*{
    font-family: 'Poppins', sans-serif;
}
.block-1 img{
    width: 15%;
    height: 20%;
    position: absolute;
    top: 5%;
    left: 3%;

}

body {
    
    background-color: powderblue; 
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: blueviolet; 
    color: #fff; 
    padding: 10px;
    margin:10px;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

select{
    color: rgb(71, 71, 71);
}

input[type="text"],
input[type="number"],
select {
    width: 30%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border-style: none;
}
input[type="text"]:hover,
input[type="number"]:hover,
select:hover {
    background-color: rgba(128, 128, 128, 0.15);
}
select{
    cursor: pointer;
}

div {
    text-align: center;
}

#goods-price, #delivery-fee, #total-price {
    font-weight: bold;
    font-size: 18px;
}

#proceed-to-payment {
    background-color: rgb(23, 122, 122); 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

#proceed-to-payment a{
    text-decoration: none;
    color: whitesmoke;
}

#proceed-to-payment:hover{
    background-color: blue;
}

#proceed-to-payment a:hover{
    color: grey;
}

div:not(:last-child) {
    margin-bottom: 20px;
}
footer{
    width: 98.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: blue;
    border-radius: 10px;
    margin: 10px;
}
