body {
    font-family: 'poppins', sans-serif;
    background-color:lightslategray;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

div {
    background-color:grey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    max-width: 300px;
}

h2 {
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    height: auto;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0070ba;
    color:blue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
}

@media (min-width: 768px) {
    div {
        margin: 20px auto;
    }
}
